body {
    background-image: url('../assets/bg.jpeg');
    background-size: cover;
    font-family: 'Lato', sans-serif;
    margin: 0;
}
@import url(//fonts.googleapis.com/css?family=Lato:300:400);

/* Page Head */
.top-bar {
    display: flex;
    position: absolute;
    top: 8px;
    left: 4px;
    width: 100%;
}

.top-bar-icon-list{
    display: flex;
    background: #fee;
    width: 2rem;
    height: 2rem;
}

.social-media-icon {
    margin: 5px 5px;
    height: 2rem;
}


.ranking-icon {
    margin: 5px 5px;
    position: fixed;
    right: 1rem;
    height: 2rem;
}

/* Emoji Icon */
h1 {
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 100px;
}

.header {
    position: relative;
    text-align: center;
}

.inner-header {
    height: 40vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.game-intro {
    line-height: 22px;
    max-width: 320px;
    margin:auto;
    text-align: center;
    width: 100%;
    font-size: 15px;
}

/* Play button */
.btn-play {
    font-size: 18px;
    background:#DAA520;
    margin-top: 3em;
    cursor: pointer;
    text-transform: uppercase;
    padding: 8px 20px;
    letter-spacing: 1px;
    border-style: ridge;
}

.waves {
    position: fixed;
    width: 100%;
    margin-bottom: -7px; /*Fix for safari gap*/
    min-height: 70px;
    max-height: 130px;
    bottom: 100px;
}

.content {
    height: 100px; 
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    background-color: white;
}

/* Animation */
.parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 200px;
        min-height: 100px;
    }
    .content {
        height: 110px;
    }
    h1 {
        font-size: 24px;
    }
    p.game-intro {
        margin-top: 3rem;
    }
}


html,
body {
    height: 100%;
}

.logo {
    fill: white;
    padding-right: 0px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 150px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    user-select: none;
}

.logo b {
    font: 400 10vh 'Vibur';
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444,
        0 0 0.1em #ff4444, 0 10px 3px #000;
}
.logo b span {
    animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2) {
    animation: blink linear infinite 3s;
}
@keyframes blink {
    78% {
        color: inherit;
        text-shadow: inherit;
    }
    79% {
        color: #ff8e05;
    }
    80% {
        text-shadow: none;
    }
    81% {
        color: inherit;
        text-shadow: inherit;
    }
    82% {
        color: #333;
        text-shadow: none;
    }
    83% {
        color: inherit;
        text-shadow: inherit;
    }
    92% {
        color: #ff8e05;
        text-shadow: none;
    }
    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}
