body {
    display: block;
    margin: 0;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    background-image: url('../assets/bg.jpeg');
    background-size: cover;
}

.top-bar {
    display: flex;
    position: absolute;
    top: 8px;
    left: 4px;
    width: 100%;
}

.top-bar-icon-list{
    display: flex;
    background: #fee;
    width: 2rem;
    height: 2rem;
}

.social-media-icon {
    margin: 0px 5px;
}

.ranking-icon {
    margin: 0px 5px;
    position: fixed;
    right: 5px;
    height: 2rem;
}
