body {
    display: block;
    margin: 0;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    background-image: url('../assets/bg.jpeg');
    background-size: cover;
    user-select: none;
    text-align: center;
}
#header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #ffee00; */
}
#current-emoji {
    font-size: 3rem;
}
#score,
#timer {
    padding: 2rem;
    width: 10rem;
    text-align: center;
}
#content {
    width: 100vw;
    height: auto;
    /* background-color: #333333; */
}
/* #footer {
    width: 100vw;
    height: 15vh;
    background-color: #ffee00;
} */

video,
canvas {
    width: 100%;
    /* height: 20vh; */
    height: auto;
    /* width: 80vw */
    flex-wrap: wrap;
}

#video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    visibility: hidden;
    width: auto;
    height: auto;
}

/* .controls {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
}

.controls > button {
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 100%;
    margin: 0 6px;
    background: transparent;
}

.controls > button:hover svg {
    color: white !important;
}

@media (min-width: 300px) and (max-width: 400px) {
    .controls {
        flex-direction: column;
    }

    .controls button {
        margin: 5px 0 !important;
    }
}

.controls > button > svg {
    height: 20px;
    width: 18px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.controls button:nth-child(1) {
    border: 2px solid #d2002e;
}

.controls button:nth-child(1) svg {
    color: #d2002e;
}

.controls button:nth-child(2) {
    border: 2px solid #008496;
}

.controls button:nth-child(2) svg {
    color: #008496;
}

.controls button:nth-child(3) {
    border: 2px solid #00b541;
}

.controls button:nth-child(3) svg {
    color: #00b541;
}

.controls > button {
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 100%;
    margin: 0 6px;
    background: transparent;
}

.controls > button:hover svg {
    color: white;
} */

#enter-name {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: fit-content;
    height: fit-content;
    padding: 2rem;
    background-color: blue;
    /* top: 0;
    bottom: 0;
    right: 0;
    left: 0; */
    /* margin: 20rem; */
    justify-content: center;
    align-items: center;
    /* opacity: 1; */
}
#enter-name > input,
#enter-name > label,
#enter-name > button {
    margin: 2rem;
}
#opacity-form {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    opacity: 0.7;

}

/* loader */

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../assets/bg.jpeg');
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    border: 4px solid rgb(255, 115, 1);
    top: 50%;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: rgb(255, 115, 1);
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}
