body {
    display: block;
    margin: 0;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    background-image: url('../assets/bg.jpeg');
    background-size: cover;
    user-select: none;
}
#header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #ffee00; */
}
#current-emoji {
    font-size: 3rem;
}
#score,
#timer {
    padding: 2rem;
    width: 10rem;
    text-align: center;
}
#content {
    width: 100vw;
    height: auto;
    /* background-color: #333333; */
}
/* #footer {
    width: 100vw;
    height: 15vh;
    background-color: #ffee00;
} */

video,
canvas {
    width: 100%;
    /* height: 20vh; */
    height: auto;
    /* width: 80vw */
    flex-wrap: wrap;
}

#video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    visibility: hidden;
    width: auto;
    height: auto;
}

/* .controls {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
}

.controls > button {
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 100%;
    margin: 0 6px;
    background: transparent;
}

.controls > button:hover svg {
    color: white !important;
}

@media (min-width: 300px) and (max-width: 400px) {
    .controls {
        flex-direction: column;
    }

    .controls button {
        margin: 5px 0 !important;
    }
}

.controls > button > svg {
    height: 20px;
    width: 18px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.controls button:nth-child(1) {
    border: 2px solid #d2002e;
}

.controls button:nth-child(1) svg {
    color: #d2002e;
}

.controls button:nth-child(2) {
    border: 2px solid #008496;
}

.controls button:nth-child(2) svg {
    color: #008496;
}

.controls button:nth-child(3) {
    border: 2px solid #00b541;
}

.controls button:nth-child(3) svg {
    color: #00b541;
}

.controls > button {
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 100%;
    margin: 0 6px;
    background: transparent;
}

.controls > button:hover svg {
    color: white;
} */

#enter-name {
    flex-direction: column;
    position: fixed;
    /* width: fit-content; */
    /* height: fit-content; */
    padding: 2rem;
    background-color: blue;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 20rem;
    justify-content: center;
    align-items: center;
}
#enter-name > input,
#enter-name > label,
#enter-name > button {
    margin: 2rem;
}
