body {
    background-image: url('../assets/bg.jpeg');
    overflow: hidden;
}

#top-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#score,
#timer {
    padding:2rem;
}

#find-emoji {
    font-size: 1.5rem;
    padding: 1.5rem;
}

#camera {
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
}

#btn-list {
    text-align: center;
}

.btn-capture {
    background-color: black;
    color: azure;
    position: relative;
}
